.ICEauthority
.VirtualBox
.bash_logout
.bash_history
.cache
.config
.dbus
.dmrc
.gitconfig
.imsettings.log
.icedteaplugin
.pulse-cookie
.vimperator
.wine
.esd_auth
.fontconfig
.gimp-2.6
.gnochm
.gconfd
.gegl-0.0
.gstreamer-0.10
.gtk-bookmarks
.lesshst
.openoffice.org
.songbird2
.themes
.tags
.thumbnails
.printer-groups.xml
.recently-used.xbel
.dropbox
.kde
.local
.pulse
.netx
.java
.mcop
.nautilus
.gnome2
.dia
.gconf
.evolution
.dropbox-dist*
.macromedia
.xsession-errors*
.viminfo
.snmp
.subversion
Desktop
inbox
local
projects
opt
private
