.Ephox
.cabal
.bluetilegreet
.mc/history
.bazaar
.pki
.mplayer
.netbeans-*
.gwibber
.ghc
.ipython
.ICEauthority
.FBReader
.AbiSuite
.PersonalBrain
.VirtualBox
.adobe
.bash_logout
.bash_history
.cache
.config
.crypt
.comments
.gphoto
.face
.appdata
.plt-scheme
.netbeans
.dc++
.dbus
.dmrc
.gitconfig
.imsettings.log
.icedteaplugin
.pulse-cookie
.vimperator
.wine
.esd_auth
.fontconfig
.gimp-2.6
.gnome
.gnochm
.gtk-custom-papers
.gconfd
.gegl-0.0
.gstreamer-0.10
.gtk-bookmarks
.lesshst
.netxrc
.nvidia-settings-rc
.pdfedit
.shelfserver
.appcfg_cookies
.appcfg_nag
.openoffice.org
.songbird2
.themes
.tags
.thumbnails
.printer-groups.xml
.recently-used.xbel
.dropbox
.kde
.local
.pulse
.netx
.java
.mcop
.nautilus
.gnome2
.dia
.ssh
.purple
.mozilla
.gconf
.evolution
.dropbox-dist*
.macromedia
.xsession-errors*
.viminfo
.snmp
.subversion
.supertux
.install4j
.mission-control
.gnupg
.fltk
.wireshark
.xmind
.qt
.gajim
.kinorc
.rnd
Desktop
inbox
local
projects
opt
private
